body {
    font-family:Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:blueviolet;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;  
    text-decoration: none;
}

li a:hover {
    background-color: #26022e;
    text-decoration: none;
}

/*This class was og called buttons*/
.AcceptReject {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0;
}

.buttonsClass {
    scale: 200%;
    padding: 20px;
    border-radius: 50%;
    margin-top: -100px
}

#profileForm {
    max-width: 400px;
    margin: 0 auto;
}

label {
    /* display: block; */
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.topNav {
    display: flex;
    justify-content: left;
    justify-content: space-between;
    background-color:blueviolet;
    position: relative;
    flex-direction: row;
    color: white;
    width: 100%;
}

.navProfile {
    display: flex;
    justify-content: right;
    margin-bottom: 16px;
    margin-top: 16px;
}

.profileImg {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.profileText {
    margin-left: 10px; 
    margin-right: 10px;
    font-size: 20px;
}

.navTitle {
    margin-left: 10px; 
    margin-right: 10px;
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
}

.pageHeader {
    margin-bottom: 16px;
    margin-top: 16px;
}

.pageImg {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
    margin-bottom: 16px;
    margin-top: 16px;
}